@media (max-width:1199px){
.main{
	background-position:left center;
} 
.slider-section_item img, .slider-section_item .mask{
transform: scale(0.9);
}
.contact-form input:nth-child(2n)
	{margin-left: 0;}

	.contact-form textarea{
		width: 35rem;}
		.contact-button{
		display: block;
		margin: 2rem 9rem;}
		.contact-form p{
			margin-left: 0;
		}
		.work-pictures img{
		 transform: scale(0.8);						
		}
		.work .mask{
			width: 36rem;
			left: 5%;
			top: 0;
			transform: scale(0.8);
		}

}

@media (max-width:991px){
	.header h2{
		text-align: center;
	}
	.prev {
  left: 2%;
	}
	.next {
  right: 0;
	}
	.work-pictures{
		text-align: center;
	}
	.work-pictures img{
		transform: scale(1);
		margin-top: 1.5rem;
	}
	.work .mask{
		margin-top:1.5rem;
		left: 0;
		top: 0;
		transform: scale(1);
	}
	.blog-info_1 img{
		text-align: center;
	}
	.blog-date, .blog-title_block{
		margin-top: 2rem;
	}
	.contact-form input:nth-child(2n)
	{margin-left: 0;}
	.contact-form input{
		display: block;
		width: 100%;
	}
	.contact-form textarea{
		width: 100%;
	}
	.contact-button{
		display: block;
		margin: 2rem auto;
	}
	.contact-form p{
		margin: 0 auto;
		display: block;
		text-align: center;
	}
	.contact-form p{
		justify-content: center;
	}
	.contact p{
		text-align: center;
		margin-bottom: 2rem
	}
	.title-wrapper{
		justify-content: center;
	}
}
@media (max-width:768px){
.header h2{
	text-align: center;
	margin: 0 auto;}
.next{
	right: 20%;
}
.prev{
	left: 20%;
}
.work-pictures img{
	margin-top:1.5rem;
	width: 90%;
}
.work .mask{
	margin-top:1.5rem;
	width: 90%;
	height: 110%;
	top: 0;
	}
}


@media (max-width:767px){
	body{
		width: 100%;
	}
.main{
	background-position:center left;
}
.header h2{
text-align: center;
margin-top: 2rem;
}
.header-list {
  line-height: 4.5rem;
  padding: 0;
  margin-top: 3rem;
}

.header-list_item{
	margin-right: 0;
	text-align: center;
	display: block;
}
.next{
	right: 6%;
}
.prev{
	left: 6%;
}

.clients-list{
	padding: 0; 
}
.clients-list li{
	display: block;
	text-align: center; 
	margin-right: 0;
}
.clients-list li img{
	margin: 2.5rem auto;
}
.work-list{
	padding-left: 0;
}
.work-list li{
	display: block;
	margin: 2rem auto;
}
.work-picture img{
	width: 90%;
	height: 90%;
	margin: 0 auto;
	text-align: center;
	margin-top:1.5rem;
}
.work .mask{
		margin-top:1.5rem;
		width: 87%;
		height: 98%;
	}
	.work .mask h3{
		font-size: 4rem;
		margin-bottom: 4rem;
	}
	.work .mask p{
		font-size: 2.5rem;
		margin-bottom: 7rem;
	}
	.work .mask a{
		font-size: 2rem;
	}
.blog{
	text-align: center;
}
.blog-date_wrapper{
	text-align: center;
	display: block;
}
.blog-date{
	margin: 2rem auto 0;
}
.blog-link{
	display: block;
	text-align: center;
}

.contact-form textarea{
	width: 100%;
	min-width: 15rem;
}
.contact-form input {
    min-width: 15rem;
    }
}


@media (max-width: 450px){
.work .mask{
	margin-top: 1.5rem;
	width: 83%;
	height: 96%;
}
.work .mask h3{
	font-size: 1.5rem;
	margin-top: -3rem;
	margin-bottom: 1rem
}
.work .mask p{
	font-size: 1rem;
	margin-bottom: 1rem;
}
.work .mask a{
	font-size: 1rem;
	}
}
