
body{
	font-family: Arial;
	background-color: #dadfeb;
} 
body a{
	display: inline-block;
	text-decoration: none;
}
.main-wrapper{
	width:1600px;
	margin: 0 auto;
}

/*HEADER BEGIN*/

.header {
background: #cbd3e8; /* Old browsers */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
background: -webkit-gradient(linear, left top, left bottom, from(#cbd3e8),color-stop(30%, #dae1f2),to(#fefeff));
background: linear-gradient(to bottom, #cbd3e8 0%,#dae1f2 30%,#fefeff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
padding: 11px 0 58px 0;
width: 100%;
margin-bottom: 19px;		
}
.header-wrap{
	width: 960px;
	margin: 0 auto;
}
.header p{
	margin-top:3px;
	color: #3d5ba4;
	font-size:14px;
	text-indent: 5px;
}
.header ul a{
	margin-right:15px;
	color: #2f57a1;
    line-height: 22px;
    width: 80px;
}
.header ul a, .boxes h3{
	 text-align: center;
}
.header ul a, .button a, .boxes p, .container1 p, .container2 p, .container2 a, .footer .nav1 a, .social ul li:first-child{
font-size: 13px;
}
.header ul a, .header .logo a, .boxes h3, .container1 h4, .container2 h4, .text1{
	font-weight: bold;
}
.main-navigation{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
ul .current a{
color: #000000;
background: #ffffff; /* Old browsers */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
background: -webkit-gradient(linear, left top, left bottom, from(#ffffff),to(#c7c7c7));
background: linear-gradient(to bottom, #ffffff 0%,#c7c7c7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c7c7c7',GradientType=0 ); /* IE6-9 */
border-radius: 15px;
color: #000000;
width: 80px;
}
.header ul a:hover{
color: #000000;
background: #ffffff; /* Old browsers */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
background: -webkit-gradient(linear, left top, left bottom, from(#ffffff),to(#c7c7c7));
background: linear-gradient(to bottom, #ffffff 0%,#c7c7c7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c7c7c7',GradientType=0 ); /* IE6-9 */
border-radius: 15px;
-webkit-box-shadow: 0px 11px 36px -11px #000000;
        box-shadow: 0px 11px 36px -11px #000000;
}
.header .logo a{
	font-size: 45px;
	color:#6b73b6; /* Old browsers */
-webkit-column-rule: -webkit-linear-gradient(#6b73b6 0%, #2c4f94 100%);
        column-rule: -webkit-linear-gradient(#6b73b6 0%, #2c4f94 100%);
column-rule: -o-linear-gradient(#6b73b6 0%, #2c4f94 100%);
column-rule: linear-gradient(#6b73b6 0%, #2c4f94 100%); /* FF3.6-15 */
color: -webkit-linear-gradient(top, #6b73b6 0%,#2c4f94 100%); /* Chrome10-25,Safari5.1-6 */
color: linear-gradient(to bottom, #6b73b6 0%,#2c4f94 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b73b6', endColorstr='#2c4f94',GradientType=0 ); /* IE6-9 */
text-shadow: 1px 0px 1px rgba(255, 255, 255, 1);
}
.header ul, .header-wrap, .blurb, .boxes, .wrap-container, .wrap-footer, .social ul{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	        -webkit-box-flex: 0;
	            -ms-flex: 0 1 auto;
	                flex: 0 1 auto;
}
.header ul{
width: 536px;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: distribute;
            justify-content: space-around;
}

/*HEADER END*/

/*SLIDER BEGIN*/

.section1{
border-bottom: 2px solid white;
border-top: 2px solid #ffffff;
height: 444px;
} 
.wrap-slider{
	width: 100%;
	margin-top: -56px;
}
.slider .container{
	width: 1600px;
}
.slider-tel{
	width: 1600px;
}
.slider-tel-item{width: 960px;
}

.slick-next,.slick-prev{
	width: 50px;
	height: 50px;
	color:transparent;
	border:none;
	position: absolute;
	top: 45%;
	z-index: 2;
	outline: none;
	cursor: pointer;
	opacity: 0.4;
}
.slick-next{
	background: url(../img/arrow2.png) no-repeat;
	right: 1%;
}
.slick-prev{
	background: url(../img/arrow.png) no-repeat;
	left: 1%;
}

.slick-next:hover, .slick-prev:hover{
	opacity: 1;
	 -webkit-transform: scale(1.5);
 	transform: scale(1.5);
}
.slick-dots{
	position: absolute;
	z-index: 30;
	top:92%;
	left: 51%;
	transform: translateX(-51%);
}
.slick-dots li{
	display: inline-block;
	width: 16px;
	height: 16px;
	border-radius:50%;
	background: #000 url(../img/dotted.png)no-repeat center;
	margin-right: 17px;
}
.slider-container button .slick-active{
	background: #4e63ab;
	border-radius: 50%;
}

/*SLIDER END*/

/*BLURB*/

.section-container{
	margin: 0 auto;
}
.blurb{
	padding: 19px 0 14px 0;
 	background: url(../img/bottom-line.png)no-repeat bottom  center;
 	width: 960px;
	margin: 0 auto;
	}
.blurb h1{
	color: #132445;
	font-size: 36px;
}
.blurb h1 span{
	margin-top: -3px;
	display: block;
}
.button img{
	margin-right: -15px;
}
.button{
	display: inline-block;
	margin-top: -15px;
	border-radius: 5px;
}
.button:hover, .boxes a:hover{
opacity: 0.9;
}

/*BLURB END*/

/*BOXES BEGIN*/

.boxes{
	width: 960px;
	margin: 37px auto 0;
}
.boxes img{
		margin: 11px 18px;
		border: 1px solid #cdcdcd;
}
.boxes h3{
	color: #132445;
	font-size: 20px;
	margin-top: -1px;
}
.boxes p{
	color: #545668;
	text-align: left;
	padding: 0 24px;
	margin-top: -7px;
	line-height:15px;
}
.boxes .button{
display: inline-block;
background: #ffffff; /* Old browsers */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
background: -webkit-gradient(linear, left top, left bottom, from(#ffffff),to(#c6ccdc));
background: linear-gradient(to bottom, #ffffff 0%,#c6ccdc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c6ccdc',GradientType=0 ); /* IE6-9 */
border-radius: 15px;
border: 1px solid #c6ccdc;
margin:12px 0 0 18px;
}
.button a{
	vertical-align: middle;
	display: block;
	padding:5px 16px 3px 20px;
	color: #2945c0;
}
.box1, .box2, .box3, .box4{
	width: 216px;
	padding: 7px 4px 15px 0px;
	background-color: white;
	border: 1px solid #bfc4d1;
	    line-height: normal;
	    -webkit-box-shadow: 0 0 10px 5px #cdd3e4;
	            box-shadow: 0 0 10px 5px #cdd3e4;
	    border-radius: 3px;
}

/*BOXES END*/

/*BODY-CONTENT BEGIN*/

.body-content{
	width: 960px;
	margin: 0 auto;
}
.container1{
	width: 488px;
	display: inline-block;
}
.container2{
	padding-top: 40px;
}
.container1 h4, .container2 h4{
	color: #132445;
	font: 15px;
}
.container1 h4{
	margin:10px 0 3px 0;
}
.container2 h4{
	margin-bottom: 19px;
	margin-left: 5px;
}
.container1 p, .container2 p{
	color: #132445;
	font-weight: normal;
}
.container1 p{
	line-height: 16px;
}
.container2 p{
	line-height: 24px;
	margin:-12px 0 0 5px;
}
.text1{
	width: 200px;
	float: left;
}
.text1:after{
	content: "";
    display: table;
    clear: both;
    }
 .man, .clock{
	margin-right: 44px;
}
.text2{
    width: 470px;
}
.man h4:before, .earth h4:before, .clock h4:before, .lamp h4:before{
	position: relative;
	top:15px;
	right: 5px;
	padding-right: 5px;
}
.man h4:before{
	content:url(../img/men.png);
}
.earth h4:before{
	content:url(../img/planet.png);
}
.clock h4:before{
	content:url(../img/clock.png);
}
.lamp h4:before{
	content:url(../img/lamp.png);
}
.container2 a{
	color: #2945c0;
	text-decoration: underline;
	margin: 0 0 5px 5px;
}

/*BODY-CONTENT END*/

/*FOOTER BEGIN*/

.footer{
 width: 1600px;
 padding: 20px 0 37px 0; 
background: #565f81;
border-top:2px solid white;
margin: 50px auto 0;
}
.wrap-footer{
	width: 960px;
	margin: 0 auto;
}
.footer .nav1 li{
	display: inline-block;
	border-right: 1px solid white;
	padding: 0 12px;
}
.footer .nav1 li:first-child{
	padding-left: 0;
}
.footer .nav1 a{
	color: #dadfeb;
}
.footer .nav1 a:hover{
	color: #a9d1f7;
}
.footer .nav1{
margin-bottom: 5px;
}
.footer ul li:last-child{
	border-right: none;
}
.copyright {
	margin-bottom: 9px;
}
.copyright ul li{
	display: inline-block;
	border-right: 1px solid #979fb6;
	padding: 0 11px;
}
.copyright ul li:first-child{
	padding-left: 0px;
}
.copyright li a{
	font-size: 12px;
	color: #9fa8bd;
}
.copyright ul li:last-child{
border-right: none;
}
.link-icon{
	font-size: 12px;
	color: #9fa8bd;
}
.link-icon a{
color: #dadfeb;
}
.social a{
	width: 39px;
	height: 38px;	
	display: block;
}
a.twitter{
	background: url(../img/sprite1.png)-39px -38px;
}
a.facebook{
	background: url(../img/sprite1.png)-39px 0px;
}
a.linkedin{
	background: url(../img/sprite1.png)0px -38px;
}
a.mail{
	background: url(../img/sprite1.png)0px 0px;
}
.social li{
	padding-right: 12px;
}
.social ul li:first-child{
	color: #dadfeb;
	margin-top: 11px;
}
.social li a:hover{
	opacity: 0.8;
	 -webkit-transform: scale(1.2);
 	transform: scale(1.2);
 	transition:all 0.5s ease;
}

/*FOOTER END*/

